{% extends 'base.html' %}
{% block content %}


<div class="container">
    <h2 class="pb-2 border-bottom display-5 fw-bold text-center text-white" 
        style="padding-top: 50px; margin-bottom: 100px;">
           History of Country
</div>


<!-- Content -->

<!-- Information on Blues music provided by Wikipedia
-->

<div class="container" style="margin-top: 150px;">
  <div class="row align-items-md-stretch" id="wrap">
    <div class="col-md-6" id="hip">
      <div class="p-5 text-white rounded-3">
        <h2 id="title-c">Etymology</h2>
        <p class="text">
            Country (also called country and western) is a genre of popular music 
            that originated with blues, church music such as Southern gospel and 
            spirituals, old-time, and American folk music forms including Appalachian, 
            Cajun, Creole, and the cowboy Western music styles of New Mexico, Red Dirt, 
            Tejano, and Texas country. Its popularized roots originate in the Southern 
            and Southwestern United States of the early 1920s. Country music often 
            consists of ballads and dance tunes with generally simple forms, folk lyrics, 
            and harmonies often accompanied by string instruments such as banjos, 
            electric and acoustic guitars, steel guitars (such as pedal steels and dobros), 
            and fiddles as well as harmonicas. Blues modes have been used extensively 
            throughout its recorded history.
        </p>
      </div>
    </div>
    <div class="col-md-6" id="hip-img">
        <img src="https://media.vanityfair.com/photos/5d950a4ffc4fc000082c615f/master/pass/dolly-parton-podcast-lede.jpg" 
             class="img-fluid" 
             alt="image">
    </div>
  </div>
</div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://ca-times.brightspotcdn.com/dims4/default/b4c33ba/2147483647/strip/true/crop/3600x2400+0+0/resize/840x560!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F9d%2Fe6%2F017e24ba4104afebdb21eb79e43b%2Fgettyimages-85340246.jpg" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">The 1920s</h2>
            <p class="text">
              The first commercial recordings of what was considered instrumental 
              music in the traditional country style were "Arkansas Traveler" and 
              "Turkey in the Straw" by fiddlers Henry Gilliland & A.C. (Eck) 
              Robertson on June 30, 1922, for Victor Records and released in 
              April 1923. Columbia Records began issuing records with "hillbilly" 
              music (series 15000D "Old Familiar Tunes") as early as 1924.
              The Carter Family, are a dynasty of country music and began with 
              (left to right) A.P. Carter, wife Sara Carter and Maybelle Carter
              Jimmie Rodgers, country singer, yodeler and pioneer, was country's 
              first major star. The first commercial recording of what is widely 
              considered to be the first country song featuring vocals and lyrics 
              was Fiddlin' John Carson with "Little Log Cabin in the Lane" for 
              Okeh Records on June 14, 1923.
            </p>
        </div>
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch" id="second-wrap">
      <div class="col-md-6" id="pop">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">The 1930s–1940s</h2>
          <p class="text">
            Record sales declined during the Great Depression, but radio became a 
            popular source of entertainment, and "barn dance" shows featuring country 
            music were started by radio stations all over the South, as far north as 
            Chicago, and as far west as California.
            The most important was the Grand Ole Opry, aired starting in 1925 by 
            WSM in Nashville and continuing to the present day. Some of the early 
            stars on the Opry were Uncle Dave Macon, Roy Acuff and African American 
            harmonica player DeFord Bailey. WSM's 50,000-watt signal (in 1934) could 
            often be heard across the country. Many musicians performed and recorded 
            songs in any number of styles. Moon Mullican, for example, played Western 
            swing but also recorded songs that can be called rockabilly. Between 1947 
            and 1949, country crooner Eddy Arnold placed eight songs in the top 10. 
            From 1945 to 1955 Jenny Lou Carson was one of the most prolific songwriters 
            in country music.
        </p>
        </div>
      </div>
      <div class="col-md-6" id="pop-img">
          <img src="https://yt3.ggpht.com/a_jhUsmlu3zaKlWFPKHRmLgzseIsTb58RR7htF3oqJu1CDmPrOez1AsnxOFz595WP57ffK58AA=s900-c-k-c0x00ffffff-no-rj" 
               class="img-fluid" 
               alt="image">
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://www.newsmax.com/getattachment/6c452095-6f1f-4637-8507-8cc322cde5bd/CHUCK-BERRY.jpg.aspx" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">The 1950s–1960s</h2>
            <p class="text">
                Following in the footsteps of Gene Autry, Lydia Mendoza, Roy 
                Rogers, and Patsy Montana. By the early 1950s, a blend of Western 
                swing, country boogie, and honky tonk was played by most country 
                bands. Western music, influenced by the cowboy ballads, New Mexico, 
                Texas country and Tejano music rhythms of the Southwestern United States 
                and Northern Mexico, reached its peak in popularity in the late 1950s, 
                most notably with the song "El Paso", first recorded by Marty Robbins in 
                September 1959. Western music's influence would continue to grow within 
                the country music sphere, Western musicians like Michael Martin Murphey, 
                New Mexico music artists Al Hurricane and Antonia Apodaca, Tejano music 
                performer Little Joe, and even folk revivalist John Denver, all first rose 
                to prominence during this time. This Western music influence largely kept 
                the music of the folk revival and folk rock from influencing the country 
                music genre much, despite the similarity in instrumentation and origins 
                (see, for instance, the Byrds' negative reception during their appearance 
                on the Grand Ole Opry). The main concern was largely political: most folk 
                revival was largely driven by progressive activists, a stark contrast to 
                the culturally conservative audiences of country music. 
           </p>
        </div>
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch" id="third-wrap">
      <div class="col-md-6" id="jazz">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">The 1970s–1980s</h2>
          <p class="text">
            Derived from the traditional Western, including Red Dirt, New Mexico, 
            Texas country, Tejano, and honky-tonk musical styles of the late 1950s and 
            1960s. Songs such as the 1963 Johnny Cash popularized "Ring of Fire" show 
            clear influences from the likes of Al Hurricane and Little Joe, this 
            influence just happened to culminate with artists such as Ray Price 
            (whose band, the "Cherokee Cowboys", included Willie Nelson and Roger Miller) 
            and mixed with the anger of an alienated subculture of the nation during the 
            period, outlaw country revolutionized the genre of country music. 
            "After I left Nashville (the early 70s), I wanted to relax and play the music 
            that I wanted to play, and just stay around Texas, maybe Oklahoma. Waylon and 
            I had that outlaw image going, and when it caught on at colleges and we started 
            selling records, we were O.K. The whole outlaw thing, it had nothing to do 
            with the music, it was something that got written in an article, and the 
            young people said, 'Well, that's pretty cool.' And started listening." 
            (Willie Nelson) The term outlaw country is traditionally associated with 
            Willie Nelson, Jerry Jeff Walker, Hank Williams, Jr., Merle Haggard, Waylon 
            Jennings and Joe Ely. It was encapsulated in the 1976 album Wanted! The Outlaws.
          </p>
        </div>
      </div>
      <div class="col-md-6" id="jazz-img">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61toYeqombL._AC_SX466_.jpg" 
               class="img-fluid" 
               alt="image">
      </div>
    </div>
  </div>








  <div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/shania-twain-2019-amas-performance-medley-1574702530.jpg?crop=0.645xw:1.00xh;0.245xw,0&resize=480:*" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">The 1990s</h2>
            <p class="text">
                Country music was aided by the U.S. Federal Communications 
                Commission's (FCC) Docket 80–90, which led to a significant 
                expansion of FM radio in the 1980s by adding numerous 
                higher-fidelity FM signals to rural and suburban areas. At this 
                point, country music was mainly heard on rural AM radio stations; 
                the expansion of FM was particularly helpful to country music, 
                which migrated to FM from the AM band as AM became overcome by 
                talk radio (the country music stations that stayed on AM developed the 
                classic country format for the AM audience). At the same time, beautiful 
                music stations already in rural areas began abandoning the format 
                (leading to its effective demise) to adopt country music as well. 
                This wider availability of country music led to producers seeking to 
                polish their product for a wider audience. In 1990, Billboard, which 
                had published a country music chart since the 1940s, changed the 
                methodology it used to compile the chart: singles sales were removed 
                from the methodology, and only airplay on country radio determined a 
                song's place on the chart.[
           </p>
        </div>
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch" id="third-wrap">
      <div class="col-md-6" id="jazz">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">The 2000s–present</h2>
          <p class="text">
            In 2005, country singer Carrie Underwood rose to fame as the winner 
            of the fourth season of American Idol and has since become one of the 
            most prominent recording artists in the genre, with worldwide sales of 
            more than 65 million records and seven Grammy Awards. With her first 
            single, "Inside Your Heaven", Underwood became the only solo country 
            artist to have a number 1 hit on the Billboard Hot 100 chart in the 
            2000–2009 decade and also broke Billboard chart history as the first 
            country music artist ever to debut at No. 1 on the Hot 100. Underwood's 
            debut album, Some Hearts, became the best-selling solo female debut 
            album in country music history, the fastest-selling debut country album 
            in the history of the SoundScan era and the best-selling country album 
            of the last 10 years, being ranked by Billboard as the number 1 Country 
            Album of the 2000–2009 decade. She has also become the female country 
            artist with the most number one hits on the Billboard Hot Country Songs 
            chart in the Nielsen SoundScan era (1991–present), having 14 No. 1s and 
            breaking her own Guinness Book record of ten. In 2007, Underwood won the 
            Grammy Award for Best New Artist, becoming only the second Country artist 
            in history (and the first in a decade) to win it. 
          </p>
        </div>
      </div>
      <div class="col-md-6" id="jazz-img">
          <img src="https://express-images.franklymedia.com/6616/sites/38/2016/10/20121336/Carrie-Underwood.jpg" 
               class="img-fluid" 
               alt="image">
      </div>
    </div>
  </div>






{% endblock %}