{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2 class="pb-2 border-bottom display-5 fw-bold text-center text-white" 
        style="padding-top: 50px; margin-bottom: 100px;">
           History of Hip Hop
    </h2>
</div>


<!-- Content -->

<!-- Information on Blues music provided by Wikipedia
-->


<div class="container" style="margin-top: 150px;">
  <div class="row align-items-md-stretch" id="wrap">
    <div class="col-md-6" id="hip">
      <div class="p-5 text-white rounded-3">
        <h2 id="title-c">Etymology</h2>
        <p class="text">
            The words "hip" and "hop" have a long history behind the two words 
            being used together. In the 1950s, older folks referred to teen house 
            parties as "hippity hops". The creation of the term hip hop is often 
            credited to Keith Cowboy, rapper with Grandmaster Flash and the Furious 
            Five. However, Lovebug Starski, Keith Cowboy, and DJ Hollywood used the 
            term when the music was still known as disco rap. It is believed that 
            Cowboy created the term while teasing a friend who had just joined the 
            U.S. Army, by scat singing the words "hip/hop/hip/hop" in a way that 
            mimicked the rhythmic cadence of soldiers marching. Cowboy later worked 
            the "hip hop" cadence into a part of his stage performance. For example, 
            he would say something along the lines of "I said a hip-hop, a hibbit, 
            hibby-dibby, hip-hip-hop and you don't stop."which was quickly used by other 
            artists such as The Sugarhill Gang in "Rapper's Delight".
            <br>
        </p>
        <p class="text">
            Universal Zulu Nation founder Afrika Bambaataa, also known as "The Godfather" 
            is credited with first using the term to describe the subculture in which the 
            music belonged; although it is also suggested that it was a derogatory term 
            to describe the type of music. The term was first used in print to refer to 
            the music by reporter Robert Flipping, Jr. in a February 1979 article in The 
            New Pittsburgh Courier, and to refer to the culture in a January 1982 
            interview of Afrika Bambaataa by Michael Holman in the East Village Eye. 
            The term gained further currency in September of that year in another 
            Bambaataa interview in The Village Voice, by Steven Hager, later author of a 
            1984 history of hip hop. 
        </p>
      </div>
    </div>
    <div class="col-md-6" id="hip-img">
        <img src="https://miro.medium.com/focal/1200/900/55/26/1*M6pRMi06dUlhxcMyT52oNQ.jpeg" 
             class="img-fluid" 
             alt="image">
    </div>
  </div>
</div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://artsy-media-uploads.s3.amazonaws.com/mO8bmYEjHQmAer1FU0Od7Q%2FTanco.++South+Bronx%2C+1984.++Photos+by+Ricky+Flores.JPG" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">1973–1979: Early years</h2>
            <p class="text">
                Hip hop as music and culture formed during the 1970s in New York City 
                from the multicultural exchange between African-American youth from the 
                United States and young immigrants and children of immigrants from countries 
                in the Caribbean. Hip hop music in its infancy has been described as an 
                outlet and a voice for the disenfranchised youth of marginalized backgrounds 
                and low-income areas, as the hip hop culture reflected the social, economic 
                and political realities of their lives. Many of the people who helped 
                establish hip hop culture, including DJ Kool Herc, DJ Disco Wiz, Grandmaster 
                Flash, and Afrika Bambaataa were of Latin American or Caribbean origin.
                It is hard to pinpoint the exact musical influences that most affected the 
                sound and culture of early hip hop because of the multicultural nature of 
                New York City. Hip hop's early pioneers were influenced by a mix of music 
                from their cultures and the cultures they were exposed to as a result of the 
                diversity of U.S. cities. New York City experienced a heavy Jamaican hip hop 
                influence during the 1990s. This influence was brought on by cultural shifts 
                particularly because of the heightened immigration of Jamaicans to New York City 
                and the American-born Jamaican youth who were coming of age during the 1990s.
            </p>
            <p class="text">
                DJ Kool Herc, a Jamaican DJ, is recognized as one of the earliest hip hop DJs 
                and artists. Some credit him with officially originating hip hop music through 
                his 1973 "Back to School Jam". In the 1970s, block parties were increasingly 
                popular in New York City, particularly among African-American, Caribbean and 
                Latino youth residing in the Bronx. Block parties incorporated DJs, who 
                played popular genres of music, especially funk and soul music. Due to the 
                positive reception, DJs began isolating the percussive breaks of popular songs. 
                This technique was common in Jamaican dub music, and was largely introduced into 
                New York by immigrants from the Caribbean, including DJ Kool Herc, one of the 
                pioneers of hip hop.
           </p>
      </div>
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch" id="second-wrap">
      <div class="col-md-6" id="pop">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">1979–1983: Old school hip hop</h2>
          <p class="text">
            The earliest hip hop music was performed live, at house parties and 
            block party events, and it was not recorded. Prior to 1979, recorded 
            hip hop music consisted mainly of PA system soundboard recordings of 
            live party shows and early hip hop mixtapes by DJs. Puerto Rican DJ 
            Disco Wiz is credited as the first hip hop DJ to create a "mixed plate," or 
            mixed dub recording, when, in 1977, he combined sound bites, special effects 
            and paused beats to technically produce a sound recording. The first hip hop 
            record is widely regarded to be The Sugarhill Gang's "Rapper's Delight", 
            from 1979. It was the first hip hop record to gain widespread popularity in 
            the mainstream and was where hip hop music got its name from 
            (from the opening bar). However, much controversy surrounds this assertion 
            as some regard the March 1979 single "King Tim III (Personality Jock)" by 
            The Fatback Band, as a rap record. There are various other claimants for the 
            title of first hip hop record.
        </p>
        <p class="text">
            By the early 1980s, all the major elements and techniques of the hip 
            hop genre were in place, and by 1982, the electronic (electro) sound 
            had become the trend on the street and in dance clubs. New York City 
            radio station WKTU featured Warp 9's "Nunk," in a commercial to 
            promote the station's signature sound of emerging hip hop Though not 
            yet mainstream, hip hop had begun to permeate the music scene outside 
            of New York City; it could be found in cities as diverse as Los Angeles, 
            Atlanta, Chicago, Washington, D.C., Baltimore, Dallas, Kansas City, 
            San Antonio, Miami, Seattle, St. Louis, New Orleans, Houston, and 
            Toronto. Indeed, "Funk You Up" (1979), the first hip hop record released 
            by a female group, and the second single released by Sugar Hill Records, 
            was performed by The Sequence, a group from Columbia, South Carolina which 
            featured Angie Stone. Despite the genre's growing popularity, Philadelphia 
            was, for many years, the only city whose contributions could be compared to 
            New York City's. Hip hop music became popular in Philadelphia in the late 1970s. 
          </p>
        </div>
      </div>
      <div class="col-md-6" id="pop-img">
          <img src="http://prod-upp-image-read.ft.com/bd692428-2c0e-11e7-bc4b-5528796fe35c" 
               class="img-fluid" 
               alt="image">
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://www.morrisonhotelgallery.com/images/medium/0-17.png" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">1983–1986: New school hip hop</h2>
            <p class="text">
                The new school of hip hop was the second wave of hip hop music, 
                originating in 1983–84 with the early records of Run-D.M.C. and LL Cool J. 
                As with the hip hop preceding it (which subsequently became known as old 
                school hip hop), the new school came predominantly from New York City. 
                The new school was initially characterized in form by drum machine-led 
                minimalism, with influences from rock music, a hip hop "metal music for the 
                80s–a hard-edge ugly/beauty trance as desperate and stimulating as New York 
                itself." It was notable for taunts and boasts about rapping, and 
                socio-political commentary, both delivered in an aggressive, self-assertive 
                style. In image as in song its artists projected a tough, cool, street b-boy 
                attitude. These elements contrasted sharply with much of the 
                previous funk- and disco-influenced hip hop groups, whose music 
                was often characterized by novelty hits, live bands, 
                synthesizers, and "party rhymes" (not all artists prior to 1983–84 had these styles). 
                New school artists made shorter songs that could more easily gain radio play, 
                and they produced more cohesive LP albums than their old school counterparts. 
                By 1986, their releases began to establish the hip-hop album as a fixture of 
                mainstream music. Hip hop music became commercially successful, as exemplified 
                by the Beastie Boys' 1986 album Licensed to Ill, which was the first rap album 
                to hit No. 1 on the Billboard charts
           </p>
      </div>
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch" id="third-wrap">
      <div class="col-md-6" id="jazz">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">1986–1997: Golden age hip hop</h2>
          <p>
            Hip hop's "golden age" (or "golden era") is a name given to a period in 
            mainstream hip hop, produced between the mid-1980s and the mid-1990s,
            which is characterized by its diversity, quality, innovation and influence.
            There were strong themes of Afrocentrism and political militancy in golden 
            age hip hop lyrics. The music was experimental and the sampling drew on 
            eclectic sources. There was often a strong jazz influence in the music. 
            The artists and groups most often associated with this phase are Public 
            Enemy, Boogie Down Productions, Eric B. & Rakim, De La Soul, A Tribe Called 
            Quest, Gang Starr, Big Daddy Kane and the Jungle Brothers.
            The golden age is noted for its innovation – a time "when it seemed that 
            every new single reinvented the genre" according to Rolling Stone. 
            Referring to "hip-hop in its golden age", Spin's editor-in-chief Sia Michel 
            says, "there were so many important, groundbreaking albums coming out right 
            about that time", and MTV's Sway Calloway adds: "The thing that made that 
            era so great is that nothing was contrived. Everything was still being 
            discovered and everything was still innovative and new". Writer William 
            Jelani Cobb says "what made the era they inaugurated worthy of the term 
            golden was the sheer number of stylistic innovations that came into existence... 
            in these golden years, a critical mass of mic prodigies were literally 
            creating themselves and their art form at the same time".  
          </p>
        </div>
      </div>
      <div class="col-md-6" id="jazz-img">
          <img src="https://factmag-images.s3.amazonaws.com/wp-content/uploads/2013/03/07090651/PubEnemy110313-634x371.jpg" 
               class="img-fluid" 
               alt="image">
      </div>
    </div>
  </div>




<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://vmp-www.imgix.net/images/maxresdefault_Ne0oyNH.original.jpg?auto=format&w=650&h=433.33&fit=crop&bri=-10" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">Gangsta rap and West Coast hip hop</h2>
            <p class="text">
                Gangsta rap is a subgenre of hip hop that reflects the violent 
                lifestyles of inner-city American black youths. Gangsta is a non-rhotic 
                pronunciation of the word gangster. The genre was pioneered in the 
                mid-1980s by rappers such as Schoolly D and Ice-T, and was popularized 
                in the later part of the 1980s by groups like N.W.A. In 1985 Schoolly D 
                released "P.S.K. What Does It Mean?", which is often regarded as the first 
                gangsta rap song, which was followed by Ice-T's "6 in the Mornin'" in 1986. 
                After the national attention and controversy that Ice-T and N.W.A created in 
                the late 1980s and early 1990s, as well as the mainstreaming of G-funk in the 
                mid-1990s, gangsta rap became the most commercially-lucrative subgenre of hip hop. 
                Some gangsta rappers were known for mixing the political and social commentary 
                of political rap with the criminal elements and crime stories found in gangsta rap.
                N.W.A is the group most frequently associated with the founding of gangsta rap. 
                Their lyrics were more violent, openly confrontational, and shocking than 
                those of established rap acts, featuring incessant profanity and, controversially, 
                use of the word "nigga". These lyrics were placed over rough, rock guitar-driven 
                beats, contributing to the music's hard-edged feel. The first blockbuster gangsta 
                rap album was N.W.A's Straight Outta Compton, released in 1988. Straight Outta Compton 
                would establish West Coast hip hop as a vital genre, and establish Los Angeles as a 
                legitimate rival to hip hop's long-time capital, New York City. Straight Outta 
                Compton sparked the first major controversy regarding hip hop lyrics when their song 
                "Fuck tha Police" earned a letter from FBI Assistant Director, Milt Ahlerich, strongly 
                expressing law enforcement's resentment of the song.
           </p>
      </div>
      </div>
    </div>
  </div>



   <div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch" id="fourth-wrap">
      <div class="col-md-6" id="country">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">1997–2006: Bling era</h2>
          <p class="text">
            During the late 1990s, in the wake of the deaths of Tupac Shakur and 
            The Notorious B.I.G., a new commercial sound emerged in the hip hop 
            scene, sometimes referred to as the "bling era" (derived from Lil Wayne's "Bling Bling"),
            "jiggy era" (derived from Will Smith's "Gettin' Jiggy wit It"), or 
            "shiny suit era" (derived by metallic suits worn by some rappers in music 
            videos at the time, such as in "Mo Money Mo Problems" by The Notorious B.I.G., 
            Puff Daddy, and Mase). Before the late 1990s, gangsta rap, while a 
            huge-selling genre, had been regarded as well outside of the pop mainstream, 
            committed to representing the experience of the inner-city and not "selling 
            out" to the pop charts. However, the rise of Sean "Puff Daddy" Combs's 
            Bad Boy Records, propelled by the massive crossover success of Combs's 1997 
            ensemble album No Way Out, signaled a major stylistic change in gangsta rap 
            (and mainstream hip hop in general), as it would become even more commercially 
            successful and popularly accepted. Silky R&B-styled hooks and production, 
            more materialist subject matter, and samples of hit soul and pop songs from 
            the 1970s and 1980s were the staples of this sound, which was showcased by 
            producers such as Combs, Timbaland, The Trackmasters, The Neptunes, and Scott 
            Storch. Also achieving similar levels of success at this time were Master P 
            and his No Limit label in New Orleans; Master P built up a roster of artists 
            (the No Limit posse) based out of New Orleans, and incorporated G funk and 
            Miami bass influences in his music. 
          </p>
        </div>
      </div>
      <div class="col-md-6" id="country-img">
          <img src="https://cdn.shopify.com/s/files/1/1878/3879/products/N2784.jpg?v=1541003763" 
               class="img-fluid" 
               alt="image">
      </div>
    </div>
  </div>




  <div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://i.pinimg.com/originals/0e/93/e1/0e93e156baf92d9fd8ef9f0f8e11b491.jpg" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">2006–2014: Blog era</h2>
            <p class="text">
                Snap rap (also known as ringtone rap) is a subgenre of crunk that emerged 
                from Atlanta, Georgia in the late 1990s. The genre gained mainstream 
                popularity in the mid-late 2000s, and artists from other Southern states 
                such as Tennessee also began to emerge performing in this style. Tracks 
                commonly consist of a Roland TR-808 bass drum, hi-hat, bass, finger snapping, 
                a main groove, and a simplistic vocal hook. Hit snap songs include 
                "Lean wit It, Rock wit It" by Dem Franchize Boyz, "Laffy Taffy" by D4L, 
                "It's Goin' Down" by Yung Joc, and "Crank That (Soulja Boy)" by Soulja Boy 
                Tell 'Em. In retrospect, Soulja Boy has been credited with setting trends 
                in hip hop, such as self-publishing his songs through the Internet 
                (which helped them go viral) and paving the way for a new wave of younger 
                artists.
            </p>
            <p class="text">
                By the late 2000s, alternative hip hop had secured its place within the 
                mainstream, due in part to the declining commercial viability of gangsta rap. 
                Industry observers view the sales race between Kanye West's Graduation and 
                50 Cent's Curtis as a turning point for hip hop. West emerged the victor, 
                selling nearly a million copies in the first week alone, proving that 
                innovative rap music could be just as commercially viable as gangsta rap, 
                if not more so. Although he designed it as a melancholic pop album 
                rather than a rap album, Kanye's following 808s & Heartbreak would have a 
                significant effect on hip hop music. While his decision to sing about love, 
                loneliness, and heartache for the entirety of the album was at first heavily 
                criticized by music audiences and the album was predicted to be a flop, 
                its subsequent critical acclaim and commercial success encouraged other 
                mainstream rappers to take greater creative risks with their music. 
                During the release of The Blueprint 3, New York rap mogul Jay-Z revealed 
                that next studio album would be an experimental effort, stating, 
                "... it's not gonna be a #1 album. 
           </p>
        </div>
      </div>
    </div>
  </div>


  <div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch" id="fourth-wrap">
      <div class="col-md-6" id="country">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">2014–present: Trap and mumble rap era</h2>
          <p class="text">
            Trap music is a subgenre of Southern rap that originated in the 
            early 1990s. It grew in the 2000s to become a mainstream sensation,
            eventually reaching ubiquity in the mid-late 2010s and frequently 
            having songs top the Billboard hip hop charts. It is typified by 
            double or triple-time sub-divided hi-hats, heavy kick drums from the 
            Roland TR-808 drum machine, layered synthesizers and an overall dark, 
            ominous or bleak atmosphere. The strong influence of the sound led 
            to other artists within the genre to move towards the trap sound, 
            with a notable example being Jay-Z and Kanye West on their joint song, 
            "H•A•M". Other artists not within the hip hop genre have also 
            experimented with trap, such as "7/11" by Beyoncé and "Dark Horse" by 
            Katy Perry featuring Juicy J.
        </p>
        <p class="text">
            Major artists to arise from the genre in the 2010s include Waka Flocka 
            Flame, Future, Chief Keef, Migos, Young Thug, Travis Scott, Kodak Black, 
            21 Savage, Yung Lean, Lil Uzi Vert, XXXTentacion, Ski Mask the Slump God, 
            Juice Wrld, Trippie Redd, Lil Pump, Smokepurpp, Rae Sremmurd, Tekashi 6ix9ine, 
            NBA YoungBoy, Lil Baby, Fetty Wap, among others. Female rappers Cardi B and 
            Megan Thee Stallion also entered the mainstream. Trap artists that originated 
            in the 2000s were able to recapture mainstream success in the 2010s with the 
            rise of trap, including 2 Chainz, Gucci Mane and Juicy J, becoming more 
            successful in the latter part of their career than when they debuted. 
            Trap producers to reach mainstream success include Metro Boomin, 
            Pi'erre Bourne, London on da Track, and Mike WiLL Made-It.
          </p>
        </div>
      </div>
      <div class="col-md-6" id="country-img">
          <img src="https://www.passionweiss.com/wp-content/uploads/2016/12/aHR0cDovL2ltYWdlLmloZWFydC5jb20vaW1hZ2VzL3JvdmkvMTA4MC8wMDAzLzg5MC9NSTAwMDM4OTAwMjIuanBn.png" 
               class="img-fluid" 
               alt="image">
      </div>
    </div>
  </div>






{% endblock %}