{% extends 'base.html' %}
{% block content %}


<div class="container">
    <h2 class="pb-2 border-bottom display-5 fw-bold text-center text-white" 
        style="padding-top: 50px; margin-bottom: 100px;">
           History of Rhythm and blues (R&B)
</div>


<!-- Content -->

<!-- Information on Blues music provided by Wikipedia
-->


<div class="container" style="margin-top: 150px;">
  <div class="row align-items-md-stretch" id="wrap">
    <div class="col-md-6" id="hip">
      <div class="p-5 text-white rounded-3">
        <h2 id="title-c">Etymology</h2>
        <p class="text">
            Rhythm and blues, often abbreviated as R&B or R'n'B, is a genre of 
            popular music that originated in African-American communities in the 
            1940s. The term was originally used by record companies to describe 
            recordings marketed predominantly to urban African Americans, at a 
            time when "urbane, rocking, jazz based music with a heavy, insistent 
            beat" was becoming more popular. In the commercial rhythm and blues 
            music typical of the 1950s through the 1970s, the bands usually 
            consisted of piano, one or two guitars, bass, drums, one or more 
            saxophones, and sometimes background vocalists. R&B lyrical themes 
            often encapsulate the African-American experience of pain and the 
            quest for freedom and joy, as well as triumphs and failures in terms 
            of relationships, economics, and aspirations.
            <br>
        </p>
        <p class="text">
            The term "rhythm and blues" has undergone a number of shifts in 
            meaning. In the early 1950s, it was frequently applied to blues 
            records. Starting in the mid-1950s, after this style of music 
            contributed to the development of rock and roll, the term "R&B" 
            became used to refer to music styles that developed from and 
            incorporated electric blues, as well as gospel and soul music. 
            In the 1960s, several British rock bands such as the Rolling Stones, 
            the Who and the Animals were referred to and promoted as being R&B 
            bands; posters for the Who's residency at the Marquee Club in 1964 
            contained the slogan, "Maximum R&B". Their mix of rock and roll and 
            R&B is now known as "British rhythm and blues". By the end of the 
            1970s, the term "rhythm and blues" had changed again and was used as 
            a blanket term for soul and funk. In the late 1980s, a newer style of 
            R&B developed, becoming known as "contemporary R&B". It combines 
            rhythm and blues with elements of pop, soul, funk, disco, hip hop, and 
            electronic music.
        </p>
      </div>
    </div>
    <div class="col-md-6" id="hip-img">
        <img src="https://cdn.artphotolimited.com/images/5ff5a529bd40b83c5a537440/1000x1000/tina-turner-1995.jpg" 
             class="img-fluid" 
             alt="image">
    </div>
  </div>
</div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://bloximages.chicago2.vip.townnews.com/buffalonews.com/content/tncms/assets/v3/editorial/d/de/dde2c425-91a7-570b-88f9-80b4efac374b/5ef2964737e13.image.jpg" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">Late 1940s</h2>
            <p class="text">
                In 1948, RCA Victor was marketing black music under the name "Blues and Rhythm". 
                In that year, Louis Jordan dominated the top five listings of the R&B charts 
                with three songs, and two of the top five songs were based on the boogie-woogie 
                rhythms that had come to prominence during the 1940s. Jordan's band, the Tympany 
                Five (formed in 1938), consisted of him on saxophone and vocals, along with musicians 
                on trumpet, tenor saxophone, piano, bass and drums. Lawrence Cohn described 
                the music as "grittier than his boogie-era jazz-tinged blues". Robert Palmer 
                described it as "urbane, rocking, jazz-based music with a heavy, insistent 
                beat". Jordan's music, along with that of Big Joe Turner, Roy Brown, Billy 
                Wright, and Wynonie Harris, is now also referred to as jump blues. Already 
                Paul Gayten, Roy Brown, and others had had hits in the style now referred to 
                as rhythm and blues. In 1948, Wynonie Harris's remake of Brown's 1947 recording 
                "Good Rockin' Tonight" reached number two on the charts, following band leader 
                Sonny Thompson's "Long Gone" at number one.
            </p>
            <p class="text">
                In 1949, the term "Rhythm and Blues" replaced the Billboard category Harlem Hit 
                Parade. Also in that year, "The Huckle-Buck", recorded by band leader and saxophonist 
                Paul Williams, was the number one R&B tune, remaining on top of the charts for nearly 
                the entire year. Written by musician and arranger Andy Gibson, the song was described 
                as a "dirty boogie" because it was risque and raunchy. Paul Williams and His Hucklebuckers' 
                concerts were sweaty riotous affairs that got shut down on more than one occasion. 
                Their lyrics, by Roy Alfred (who later co-wrote the 1955 hit "(The) Rock and Roll Waltz"), 
                were mildly sexually suggestive, and one teenager from Philadelphia said "That Hucklebuck 
                was a very nasty dance". Also in 1949, a new version of a 1920s blues song, "Ain't Nobody's 
                Business" was a number four hit for Jimmy Witherspoon, and Louis Jordan and the Tympany Five 
                once again made the top five with "Saturday Night Fish Fry". Many of these hit records were issued 
                on new independent record labels, such as Savoy (founded 1942), King (founded 1943), Imperial 
                (founded 1945), Specialty (founded 1946), Chess (founded 1947), and Atlantic (founded 1948).   
           </p>
        </div>
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch" id="second-wrap">
      <div class="col-md-6" id="pop">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">Early to mid-1950s</h2>
          <p class="text">
            At first, only African Americans were buying R&B discs. 
            According to Jerry Wexler of Atlantic Records, sales were localized 
            in African-American markets; there was no white sales nor white radio 
            play. During the early 1950s, more white teenagers started to become 
            aware of R&B and to purchase the music. For example, 40% of 1952 sales 
            at Dolphin's of Hollywood record shop, located in an African-American 
            area of Los Angeles, were to whites. Eventually, white teens across the 
            country turned their music taste towards rhythm and blues.
            Johnny Otis, who had signed with the Newark, New Jersey-based Savoy 
            Records, produced many R&B hits in 1951, including: "Double Crossing 
            Blues", "Mistrustin' Blues" and "Cupid's Boogie", all of which hit 
            number one that year. Otis scored ten top ten hits that year. Other 
            hits include: "Gee Baby", "Mambo Boogie" and "All Nite Long". 
            The Clovers, a quintet consisting of a vocal quartet with accompanying 
            guitarist, sang a distinctive-sounding combination of blues and gospel,
            had the number five hit of the year with "Don't You Know I Love You" on 
            Atlantic. Also in July 1951, Cleveland, Ohio DJ Alan Freed started a 
            late-night radio show called "The Moondog Rock Roll House Party" on WJW 
            (850 AM). Freed's show was sponsored by Fred Mintz, whose R&B record 
            store had a primarily African American clientele. Freed began referring 
            to the rhythm and blues music he played as "rock and roll".
        </p>
        <p class="text">
            In 1951, Little Richard Penniman began recording for RCA Records in 
            the jump blues style of late 1940s stars Roy Brown and Billy Wright. 
            However, it was not until he prepared a demo in 1954, that caught the 
            attention of Specialty Records, that the world would start to hear his 
            new, uptempo, funky rhythm and blues that would catapult him to fame in 
            1955 and help define the sound of rock 'n' roll. A rapid succession of 
            rhythm and blues hits followed, beginning with "Tutti Frutti" and "Long 
            Tall Sally", which would influence performers such as James Brown, 
            Elvis Presley, and Otis Redding.
            Ruth Brown was known as the "Queen of R&B"
            Ruth Brown on the Atlantic label, placed hits in the top five every 
            year from 1951 through 1954: "Teardrops from My Eyes", "Five, Ten, 
            Fifteen Hours", "(Mama) He Treats Your Daughter Mean" and "What a 
            Dream". Faye Adams's "Shake a Hand" made it to number two in 1952. 
            In 1953, the R&B record-buying public made Willie Mae Thornton's 
            original recording of Leiber and Stoller's "Hound Dog" the number 
            three hit that year. Ruth Brown was very prominent among female R&B 
            stars; her popularity was most likely derived because of "her deeply 
            rooted vocal delivery in African American tradition" That same year 
            The Orioles, a doo-wop group, had the #4 hit of the year with 
            "Crying in the Chapel".
          </p>
        </div>
      </div>
      <div class="col-md-6" id="pop-img">
          <img src="https://www.morrisonhotelgallery.com/images/big/Ray%20Charles-1300.jpg" 
               class="img-fluid" 
               alt="image">
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://www.rollingstone.com/wp-content/uploads/2018/06/rs-239428-little-richard.jpg" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">Late 1950s</h2>
            <p class="text">
                In 1956, an R&B "Top Stars of '56" tour took place, with headliners Al Hibbler, 
                Frankie Lymon and the Teenagers, and Carl Perkins, whose "Blue Suede Shoes" 
                was very popular with R&B music buyers. Some of the performers completing the 
                bill were Chuck Berry, Cathy Carr, Shirley & Lee, Della Reese, Sam "T-Bird" 
                Jensen, the Cleftones, and the Spaniels with Illinois Jacquet's Big Rockin' 
                Rhythm Band. Cities visited by the tour included Columbia, South Carolina, 
                Annapolis, Maryland, Pittsburgh, Pennsylvania, Syracuse, Rochester and Buffalo, 
                New York and other cities. In Columbia the concert ended with a near riot as 
                Perkins began his first song as the closing act. Perkins is quoted as saying, 
                "It was dangerous. Lot of kids got hurt.". In Annapolis 70,000 to 50,000 people 
                tried to attend a sold-out performance with 8,000 seats. Roads were clogged for 
                seven hours. Filmmakers took advantage of the popularity of "rhythm and blues" 
                musicians as "rock n roll" musicians beginning in 1956. Little Richard, 
                Chuck Berry, Fats Domino, Big Joe Turner, the Treniers, the Platters, the 
                Flamingos, all made it onto the big screen.
           </p>
      </div>
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch" id="third-wrap">
      <div class="col-md-6" id="jazz">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">1960s–1970s</h2>
          <p class="text">
            Sam Cooke's number five hit "Chain Gang" is indicative of R&B in 1960, 
            as is pop rocker Chubby Checker's number five hit "The Twist". By the early 
            1960s, the music industry category previously known as rhythm and blues was 
            being called soul music, and similar music by white artists was labeled blue 
            eyed soul. Motown Records had its first million-selling single in 1960 with 
            the Miracles' "Shop Around", and in 1961, Stax Records had its first hit with 
            Carla Thomas's "Gee Whiz (Look at His Eyes)". Stax's next major hit, The 
            Mar-Keys' instrumental "Last Night" (also released in 1961) introduced the 
            rawer Memphis soul sound for which Stax became known. In Jamaica, R&B influenced 
            the development of ska. In 1969 black culture and rhythm and blues reached 
            another great achievement when the Grammys first added the Rhythm and Blues 
            category, giving academic recognition to the category.
            By the 1970s, the term "rhythm and blues" was being used as a blanket term for 
            soul, funk, and disco. 
          </p>
        </div>
      </div>
      <div class="col-md-6" id="jazz-img">
          <img src="https://www.rollingstone.com/wp-content/uploads/2021/05/sam-cooke-blowin-in-the-wind.jpg?w=1000" 
               class="img-fluid" 
               alt="image">
      </div>
    </div>
  </div>




<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://i.pinimg.com/originals/b6/cf/d1/b6cfd1efe73953e326c89987efae5e7f.jpg" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">1980s to present</h2>
            <p class="text">
                In the late 1980s and early 1990s, hip-hop started to capture the 
                imagination of America's youth. R&B started to become homogenized, with a 
                group of high-profile producers responsible for most R&B hits. It was hard 
                for R&B artists of the era to sell their music or even have their music 
                heard because of the rise of hip-hop, but some adopted a "hip-hop" image, 
                were marketed as such, and often featured rappers on their songs. Newer 
                artists such as Usher, R. Kelly, Janet Jackson, TLC, Aaliyah, Destiny's Child, 
                Tevin Campbell and Mary J. Blige, enjoyed success. L.A. Reid, the CEO of LaFace 
                Records, was responsible for some of R&B's greatest successes in the 1990s in 
                the form of Usher, TLC and Toni Braxton. Later, Reid successfully marketed 
                Boyz II Men. In 2004, 80% of the songs that topped the R&B charts, were also 
                on top of the Hot 100. That period was the all-time peak for R&B and hip hop 
                on the Billboard Hot 100, and on Top 40 Radio. From about 2005 to 2013, R&B 
                sales declined. However; since 2010 Hip-Hop has started to take from the R&B 
                sound choosing to adopt a softer smoother sound incorporating that of 
                traditional R&B with rappers such as Drake who has opened an entire new door 
                for the genre. This sound has gained in popularity and created great 
                controversy for both hip-hop and R&B in how to identify it.
           </p>
      </div>
      </div>
    </div>
  </div>







{% endblock %}