{% extends 'base.html' %}
{% block content %}


<div class="container">
    <h2 class="pb-2 border-bottom display-5 fw-bold text-center text-white" 
        style="padding-top: 50px; margin-bottom: 100px;">
           History of Rock
</div>


<!-- Content -->

<!-- Information on Blues music provided by Wikipedia
-->

<div class="container" style="margin-top: 150px;">
  <div class="row align-items-md-stretch" id="wrap">
    <div class="col-md-6" id="hip">
      <div class="p-5 text-white rounded-3">
        <h2 id="title-c">Etymology</h2>
        <p class="text">
            Rock music is a broad genre of popular music that originated as 
            "rock and roll" in the United States in the late 1940s and early 
            1950s, developing into a range of different styles in the mid-1960s 
            and later, particularly in the United States and the United Kingdom.
            It has its roots in 1940s and 1950s rock and roll, a style that drew 
            directly from the blues and rhythm and blues genres of African-American 
            music and from country music. Rock music also drew strongly from a 
            number of other genres such as electric blues and folk, and incorporated 
            influences from jazz, classical, and other musical styles. For instrumentation, 
            rock has centered on the electric guitar, usually as part of a rock group 
            with electric bass, drums, and one or more singers. Usually, rock is 
            song-based music with a 4/4 time signature using a verse–chorus form, 
            but the genre has become extremely diverse. Like pop music, lyrics 
            often stress romantic love but also address a wide variety of other 
            themes that are frequently social or political.
        </p>
      </div>
    </div>
    <div class="col-md-6" id="hip-img">
        <img src="https://i.pinimg.com/originals/3e/2b/1f/3e2b1f042874652c6997c0a65a7b82cb.jpg" 
             class="img-fluid" 
             alt="image">
    </div>
  </div>
</div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://www.newsmax.com/getattachment/6c452095-6f1f-4637-8507-8cc322cde5bd/CHUCK-BERRY.jpg.aspx" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">Late 1940s–mid-1960s</h2>
            <p class="text">
              The foundations of rock music are in rock and roll, which originated 
              in the United States during the late 1940s and early 1950s, and quickly 
              spread to much of the rest of the world. Its immediate origins lay in a 
              melding of various black musical genres of the time, including rhythm and 
              blues and gospel music, with country and western. In 1951, Cleveland, Ohio 
              disc jockey Alan Freed began playing rhythm and blues music 
              (then termed "race music") for a multi-racial audience, and is credited with 
              first using the phrase "rock and roll" to describe the music.
              A black and white photograph of Elvis Presley standing between two 
              sets of bars
              Elvis Presley in a promotion shot for Jailhouse Rock in 1957
              Debate surrounds the many recordings which have been suggested as 
              "the first rock and roll record". Contenders include Wynonie Harris' 
              "Good Rocking Tonight" (1948); Goree Carter's "Rock Awhile" (1949);
              Jimmy Preston's "Rock the Joint" (1949), which was later covered by 
              Bill Haley & His Comets in 1952; and "Rocket 88" by Jackie Brenston 
              and his Delta Cats (in fact, Ike Turner and his band the Kings of Rhythm), 
              recorded by Sam Phillips for Sun Records in 1951. Four years later, Bill 
              Haley's "Rock Around the Clock" (1955) became the first rock and roll song 
              to top Billboard magazine's main sales and airplay charts, and opened the 
              door worldwide for this new wave of popular culture.
            </p>
        </div>
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch" id="second-wrap">
      <div class="col-md-6" id="pop">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">Mid-1960s–late 1970s British Invasion</h2>
          <p class="text">
            By the end of 1962, what would become the British rock scene had 
            started with beat groups like the Beatles, Gerry & the Pacemakers and 
            the Searchers from Liverpool and Freddie and the Dreamers, Herman's 
            Hermits and the Hollies from Manchester. They drew on a wide range of 
            American influences including 1950s rock and roll, soul, rhythm and 
            blues, and surf music, initially reinterpreting standard American tunes 
            and playing for dancers. Bands like the Animals from Newcastle and Them 
            from Belfast, and particularly those from London like the Rolling Stones 
            and the Yardbirds, were much more directly influenced by rhythm and blues 
            and later blues music. Soon these groups were composing their own 
            material, combining US forms of music and infusing it with a high energy 
            beat. Beat bands tended towards "bouncy, irresistible melodies", while 
            early British blues acts tended towards less sexually innocent, more 
            aggressive songs, often adopting an anti-establishment stance. There was, 
            however, particularly in the early stages, considerable musical crossover 
            between the two tendencies. By 1963, led by the Beatles, beat groups had 
            begun to achieve national success in Britain, soon to be followed into the 
            charts by the more rhythm and blues focused acts.
        </p>
        </div>
      </div>
      <div class="col-md-6" id="pop-img">
          <img src="https://www.classicrockhistory.com/wp-content/uploads/2016/11/640px-Jimmy_Page_-_A.R.M.S._Concert_Oakland_Ca._1983.jpg" 
               class="img-fluid" 
               alt="image">
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <img src="https://i.scdn.co/image/ab6761610000e5eb72a5a83fca1d1ca88f34ea74" 
            class="img-fluid" 
            alt="image">
      </div>
      <div class="col-md-6">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">Late 1970s–early 1990s</h2>
            <p class="text">
                By late 1976, acts such as the Ramones and Patti Smith, in New York City, 
                and the Sex Pistols and the Clash, in London, were recognized as the 
                vanguard of a new musical movement. The following year saw punk rock 
                spreading around the world. Punk quickly became a major cultural phenomenon 
                in the UK. The Sex Pistols' live TV skirmish with Bill Grundy on December 1, 
                1976 was the watershed moment in British punk's transformation into a major 
                media phenomenon, even as some stores refused to stock the records and radio 
                airplay was hard to come by. In May 1977, the Sex Pistols achieved new 
                heights of controversy (and number two on the singles chart) with a song that 
                referenced Queen Elizabeth II, "God Save the Queen", during her Silver Jubilee.
                For the most part, punk took root in local scenes that tended to reject association 
                with the mainstream. An associated punk subculture emerged, expressing youthful rebellion 
                and characterized by distinctive clothing styles and a variety of anti-authoritarian 
                ideologies.
           </p>
        </div>
      </div>
    </div>
  </div>



<div class="container" style="margin-top: 150px;">
    <div class="row align-items-md-stretch" id="third-wrap">
      <div class="col-md-6" id="jazz">
        <div class="p-5 text-white rounded-3">
          <h2 id="title-c">Early 1990s–late 2000s</h2>
          <p class="text">
            Disaffected by commercialized and highly produced pop and rock in the 
            mid-1980s, bands in Washington state (particularly in the Seattle area) 
            formed a new style of rock which sharply contrasted with the mainstream 
            music of the time. The developing genre came to be known as "grunge", a 
            term descriptive of the dirty sound of the music and the unkempt appearance 
            of most musicians, who actively rebelled against the over-groomed images of 
            other artists. Grunge fused elements of hardcore punk and heavy metal into a 
            single sound, and made heavy use of guitar distortion, fuzz and feedback.
            The lyrics were typically apathetic and angst-filled, and often concerned 
            themes such as social alienation and entrapment, although it was also known 
            for its dark humor and parodies of commercial rock.
          </p>
          <p class="text">
            Bands such as Green River, Soundgarden, Melvins and Skin Yard 
            pioneered the genre, with Mudhoney becoming the most successful by 
            the end of the decade. Grunge remained largely a local phenomenon 
            until 1991, when Nirvana's album Nevermind became a huge success, 
            containing the anthemic song "Smells Like Teen Spirit". Nevermind 
            was more melodic than its predecessors, by signing to Geffen Records 
            the band was one of the first to employ traditional corporate 
            promotion and marketing mechanisms such as an MTV video, in store 
            displays and the use of radio "consultants" who promoted airplay at 
            major mainstream rock stations. During 1991 and 1992, other grunge 
            albums such as Pearl Jam's Ten, Soundgarden's Badmotorfinger and 
            Alice in Chains' Dirt, along with the Temple of the Dog album 
            featuring members of Pearl Jam and Soundgarden, became among the 100 
            top-selling albums. Major record labels signed most of the remaining 
            grunge bands in Seattle, while a second influx of acts moved to the 
            city in the hope of success. However, with the death of Kurt Cobain 
            and the subsequent break-up of Nirvana in 1994, touring problems for 
            Pearl Jam and the departure of Alice in Chains' lead singer Layne 
            Staley in 1998, the genre began to decline, partly to be overshadowed 
            by Britpop and more commercial sounding post-grunge.
          </p>
        </div>
      </div>
      <div class="col-md-6" id="jazz-img">
          <img src="https://www.morrisonhotelgallery.com/images/big/_MG_1015.jpg" 
               class="img-fluid" 
               alt="image">
      </div>
    </div>
  </div>






{% endblock %}