.container{
    width: 100px;
    height: 25px;
    position: absolute;
    top: 20%;   
    z-index: 3;
    min-height: 250px;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: absolute;
}
.icons{
    font-size: 24px;
    margin: 10px;
    color: #1BA098;
    line-height: 80px;
    text-decoration: none;
} 
.icons:hover{
    color: #DEB992;
    text-decoration: underline;
}
@media (max-width: 320px) {
   .icons{
       font-size: 18px;
       margin: 2px;
   }
}

